body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
:root {
  --principal: rgb(46, 42, 42);
  --secundario: rgb(141, 124, 124);
  --verde: rgb(10, 71, 10);
  --blanco: rgb(245, 241, 241);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
